# Data files and directories common in repo root
datasets/
logs/
*.h5
results/
temp/
test/
wandb/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode
.history

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# bwunicluster
**/*.out
bwunicluster/wandb/debug-internal.log
bwunicluster/wandb/debug.log
bwunicluster/wandb/latest-run
bwunicluster/wandb/run-20220203_135915-3qkph6u3/run-3qkph6u3.wandb
bwunicluster/wandb/run-20220203_135915-3qkph6u3/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_135915-3qkph6u3/files/config.yaml
bwunicluster/wandb/run-20220203_135915-3qkph6u3/files/output.log
bwunicluster/wandb/run-20220203_135915-3qkph6u3/files/requirements.txt
bwunicluster/wandb/run-20220203_135915-3qkph6u3/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_135915-3qkph6u3/files/wandb-summary.json
bwunicluster/wandb/run-20220203_140457-35c9tg02/run-35c9tg02.wandb
bwunicluster/wandb/run-20220203_140457-35c9tg02/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_140457-35c9tg02/files/config.yaml
bwunicluster/wandb/run-20220203_140457-35c9tg02/files/output.log
bwunicluster/wandb/run-20220203_140457-35c9tg02/files/requirements.txt
bwunicluster/wandb/run-20220203_140457-35c9tg02/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_140457-35c9tg02/files/wandb-summary.json
bwunicluster/wandb/run-20220203_141537-13mcxxcd/run-13mcxxcd.wandb
bwunicluster/wandb/run-20220203_141537-13mcxxcd/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_141537-13mcxxcd/files/config.yaml
bwunicluster/wandb/run-20220203_141537-13mcxxcd/files/output.log
bwunicluster/wandb/run-20220203_141537-13mcxxcd/files/requirements.txt
bwunicluster/wandb/run-20220203_141537-13mcxxcd/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_141537-13mcxxcd/files/wandb-summary.json
bwunicluster/wandb/run-20220203_141717-o77p4f8y/run-o77p4f8y.wandb
bwunicluster/wandb/run-20220203_141717-o77p4f8y/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_141717-o77p4f8y/files/config.yaml
bwunicluster/wandb/run-20220203_141717-o77p4f8y/files/output.log
bwunicluster/wandb/run-20220203_141717-o77p4f8y/files/requirements.txt
bwunicluster/wandb/run-20220203_141717-o77p4f8y/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_141717-o77p4f8y/files/wandb-summary.json
bwunicluster/wandb/run-20220203_142334-w3tvtv4n/run-w3tvtv4n.wandb
bwunicluster/wandb/run-20220203_142334-w3tvtv4n/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_142334-w3tvtv4n/files/config.yaml
bwunicluster/wandb/run-20220203_142334-w3tvtv4n/files/output.log
bwunicluster/wandb/run-20220203_142334-w3tvtv4n/files/requirements.txt
bwunicluster/wandb/run-20220203_142334-w3tvtv4n/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_142334-w3tvtv4n/files/wandb-summary.json
bwunicluster/wandb/run-20220203_144607-o4wj5mqq/run-o4wj5mqq.wandb
bwunicluster/wandb/run-20220203_144607-o4wj5mqq/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_144607-o4wj5mqq/files/config.yaml
bwunicluster/wandb/run-20220203_144607-o4wj5mqq/files/output.log
bwunicluster/wandb/run-20220203_144607-o4wj5mqq/files/requirements.txt
bwunicluster/wandb/run-20220203_144607-o4wj5mqq/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_144607-o4wj5mqq/files/wandb-summary.json
bwunicluster/wandb/run-20220203_145808-3hfk9cpc/run-3hfk9cpc.wandb
bwunicluster/wandb/run-20220203_145808-3hfk9cpc/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_145808-3hfk9cpc/files/config.yaml
bwunicluster/wandb/run-20220203_145808-3hfk9cpc/files/output.log
bwunicluster/wandb/run-20220203_145808-3hfk9cpc/files/requirements.txt
bwunicluster/wandb/run-20220203_145808-3hfk9cpc/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_145808-3hfk9cpc/files/wandb-summary.json
bwunicluster/wandb/run-20220203_150025-r6q0hh8y/run-r6q0hh8y.wandb
bwunicluster/wandb/run-20220203_150025-r6q0hh8y/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_150025-r6q0hh8y/files/config.yaml
bwunicluster/wandb/run-20220203_150025-r6q0hh8y/files/output.log
bwunicluster/wandb/run-20220203_150025-r6q0hh8y/files/requirements.txt
bwunicluster/wandb/run-20220203_150025-r6q0hh8y/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_150025-r6q0hh8y/files/wandb-summary.json
bwunicluster/wandb/run-20220203_152030-2chnqg89/run-2chnqg89.wandb
bwunicluster/wandb/run-20220203_152030-2chnqg89/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_152030-2chnqg89/files/config.yaml
bwunicluster/wandb/run-20220203_152030-2chnqg89/files/output.log
bwunicluster/wandb/run-20220203_152030-2chnqg89/files/requirements.txt
bwunicluster/wandb/run-20220203_152030-2chnqg89/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_152030-2chnqg89/files/wandb-summary.json
bwunicluster/wandb/run-20220203_152653-3imtq8na/run-3imtq8na.wandb
bwunicluster/wandb/run-20220203_152653-3imtq8na/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_152653-3imtq8na/files/config.yaml
bwunicluster/wandb/run-20220203_152653-3imtq8na/files/output.log
bwunicluster/wandb/run-20220203_152653-3imtq8na/files/requirements.txt
bwunicluster/wandb/run-20220203_152653-3imtq8na/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_152653-3imtq8na/files/wandb-summary.json
bwunicluster/wandb/run-20220203_153208-2vwf2kdo/run-2vwf2kdo.wandb
bwunicluster/wandb/run-20220203_153208-2vwf2kdo/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_153208-2vwf2kdo/files/config.yaml
bwunicluster/wandb/run-20220203_153208-2vwf2kdo/files/output.log
bwunicluster/wandb/run-20220203_153208-2vwf2kdo/files/requirements.txt
bwunicluster/wandb/run-20220203_153208-2vwf2kdo/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_153208-2vwf2kdo/files/wandb-summary.json
bwunicluster/wandb/run-20220203_161416-29hj7llj/run-29hj7llj.wandb
bwunicluster/wandb/run-20220203_161416-29hj7llj/files/conda-environment.yaml
bwunicluster/wandb/run-20220203_161416-29hj7llj/files/config.yaml
bwunicluster/wandb/run-20220203_161416-29hj7llj/files/output.log
bwunicluster/wandb/run-20220203_161416-29hj7llj/files/requirements.txt
bwunicluster/wandb/run-20220203_161416-29hj7llj/files/wandb-metadata.json
bwunicluster/wandb/run-20220203_161416-29hj7llj/files/wandb-summary.json
bwunicluster/train_enqueue_dev_job.sh
